<%- include("header") -%>
    
      
      
    <div class="box">
         <form action="/addamount" id="add_money_label" method="post">
        <label for="">Enter amount to add to your account : </label>
        <br>
        <input type="number" name="amount" id="add_money_input">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    </div>
   

      <%- include("footer") -%>
