<%- include("header") -%>
    
      

      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              src="https://www.phonepe.com/webstatic/4712/static/bab93065eae063d167f5ea2699093877/70ff9/hp-banner-pg.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://www.phonepe.com/webstatic/4712/static/6341d1762ac4ed98d04996c9b03b5eb5/eeb1b/hp-banner4wt.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://www.phonepe.com/webstatic/4712/static/6a8e4748cf99b4e497a2d04e8b8389cc/5707d/hp-banner1.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item active">
            <img
              src="https://www.phonepe.com/webstatic/4712/static/6eba1bff4e20e9bc2aa276c2fe94659f/c608a/hp-banner-aa.png"
              class="d-block w-100"
              alt=""
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    

    <!-- video -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="video-heading">
            <h1 style="word-spacing: 7px; color: darkblue">
              Simple, Fast & Secure
            </h1>
          </div>

          <div>
            <div>
              <h5>One app for all things money.</h5>
              <p>
                Pay bills, recharge, send money, buy gold, invest and shop at
                your favourite stores.
              </p>
              <hr />
            </div>
            <div>
              <h5>One app for all things money.</h5>
              <p>
                Pay bills, recharge, send money, buy gold, invest and shop at
                your favourite stores.
              </p>
              <hr />
            </div>
            <div>
              <h5>One app for all things money.</h5>
              <p>
                Pay bills, recharge, send money, buy gold, invest and shop at
                your favourite stores.
              </p>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <video id="vidid" class="video-js vjs-default-skin" controls autoplay preload="auto" width="600" height="400">
    <source src="/public/videos/lon.mp4" type="video/mp4">
</video>
        </div>
      </div>
    </div>

   <%- include("footer") -%>
